*{
    margin: 0;
    padding: 0;    
    color: #8888FF;
}

.grid{

    margin: 0 5%;
    background-color:   rgba(255, 241, 236.6);        
    display: grid;
    grid-template-columns:1fr 10fr 1fr;    
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
    "cabecalho cabecalho cabecalho "        
    "aside section  section"
    "aside section  section"
    "aside section  section"
    "aside section  section"
    "rodape rodape  rodape" ;
}


.container__cabecalho{
grid-area: cabecalho;
border: 5px solid #FFB0B0; 
text-align: center;
}

.container__aside{
    grid-area: aside;
    height: 34.5em;
    border: 5px solid #FFB0B0;
    text-align: center;
}

.container__section{
grid-area: section ;
border: 5px solid #FFB0B0;
text-align: center;
background: no-repeat;
background-image: url(./Assets/Estratégia\ Para\ Produtividade.jpg);
background-size: 100% 100%;
}

.container__footer{
grid-area: rodape;
border: 5px solid #FFB0B0;
text-align: center;
height: 2em;
}
